body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 30px;
  color: #333;
  margin: 10px 0 20px;
}

.container h2 {
  font-size: 28px;
  color: #333;
  margin: 10px 0 20px;
}

.container #logins {
  display: inline-block;
  padding: 12px 25px;
  margin-top: 5px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  border: 2px solid #007bff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.container #homes {
  display: inline-block;
  padding: 12px 25px;
  margin: 5px;
  margin-top: 20px;
  font-size: 15px;
  color: #007bff;
  background-color: #fff;
  border: 2px solid #007bff;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s;
}

.container #logins:hover, #homes:hover {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.logo-img {
  width: 150px;
  margin-bottom: 10px;
}
